body {
	margin: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a,
a:visited,
a:active {
	color: inherit;
}

.body-header {
	padding: 10px;
	width: auto;
	display: flex;
	justify-content: end;
	gap: 10px;
	background-color: darkseagreen;
}
