.navTitle {
	text-decoration: none;
	font-size: 40px;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.task-list {
	margin: 10px 0px 10px 0px;
}

.task-header {
	display: flex;
	gap: 5px;
}

.task-data {
	display: flex;
}

.task-title {
	margin: 0;
}
